/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    color: $black;
    box-sizing: border-box;
  }
  
  input {
    font-family: $f-family;
  }

  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }